<html>
<head>
</head>
<body>
    <h1>Change Flight Status</h1>
<form action="/changeFlightStatusInfo" method="POST">
The flight number:
	<input type="text" name = "flight_number" placeholder="flight_number" required/></br>
    The departure date:

    <input type="date" name = "d_date" placeholder="departure date" required/></br>
    The departure time:

    <input type="time" name = "d_time" placeholder="departure time" required/></br>
    New status (on-time or delayed):

    	<input type="text" name = "new_status" placeholder="new_status" required/></br>

	<input type="submit" value = Change />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

    <a href="/staffHome">Go back</a>
</body>
</html>
