<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>flightSearch</title>
</head>

<body>
    <h1>You can search the flights here</h1><br>
    All fields are required.
    <form action="/flightSearchProcess" method="POST">
        Enter the departure date here:
        <input type="date" name = "dep_date" placeholder="departure date" required/> </br>
        Enter the departure airport here:

        <input type="text" name = "dep_airport" placeholder="departure airport" required/></br>
        Enter the arrival airport here:

        <input type="text" name = "arr_airport" placeholder="arrival airport" required/></br>

        <input type="submit" value = Search />
        {% if error %}
            <p class="error"><strong>Error:</strong> {{error}}</p>
        {% endif %}
    </form>
    <table>
        <th>Airline name</th>
        <th>departure date</th>
        <th>departure time</th>
        <th>flight number</th>
        <th>arrival date</th>
        <th>arrival time</th>

    
    {% for line in posts %}
        <tr>
            <td>{{line['airline_name']}}</td>
            <td>{{line['d_date']}}</td>
            <td>{{line['d_time']}}</td>
            <td>{{line['flight_num']}}</td>            
            <td>{{line['a_date']}}</td>
            <td>{{line['a_time']}}</td>
        </tr>
    {% endfor %}
    </table>


    {% if session['username'] %}
        <h1>You can buy the ticket since you have already login!</h1>
        <h1>Following form to select a tickets and give payment information</h1>
        <form action="/purchaseTicket" method="POST">
            Enter the card type here:
            <input type="text" name = "cardType" placeholder="card type" required/> </br>
            Enter the card number here:

            <input type="text" name = "cardNum" placeholder="card number" required/></br>

            Enter the exp date here:

            <input type="date" name = "expDate" placeholder="expire date" required/></br>
            copy the airline name from the search result here:
            <input type="text" name = "airlineName" placeholder="airline name" required/></br>
            copy the departure date from the search result here:
            <input type="text" name = "d_date" placeholder="departure date" required/></br>
            copy the departure time from the search result here:
            <input type="text" name = "d_time" placeholder="departure time" required/></br>
            copy the flight number from the search result here:
            <input type="text" name = "flightNum" placeholder="flight number" required/></br>
            <input type="submit" value = purchase />
            {% if error %}
                <p class="error"><strong>Error:</strong> {{error}}</p>
            {% endif %}
        </form>

    {% endif %}

    <a href="/publicCheck">Go back to public service page</a>
</body>
</html>
