<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>publicHomepage</title>
</head>
<body>
{% if not session['username'] %}

	<a href="/staffLogin">staff Login</a>
    <a href="/customerLogin">customer Login</a>


	<a href="/staffRegister">staff Register</a>
    <a href="/customerRegister">customer Register</a>
{% endif %}

{% if session['username'] %}

    <a href="/staffHome">staff homepage</a>
    <a href="/customerHome">customer home</a>


{% endif %}

    <a href="/publicCheck">public service</a>


</body>
</html>