<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>publicCheck</title>
</head>
<body>
    <!-- In this page, all public services without login -->
    <h1>This is a public service page!</h1>
    <h1>In this page, all public services without login </h1>

    <a href="/flightSearch">You can search one way flight here!</a><br>
    <a href="/roundFlightSearch">You can search round flight here!</a><br>


	<a href="/pastFlightStatus">You can see the status of flight here!</a><br>
    <a href="/">go back to public homepage</a><br>
</body>
</html>