<html>
<head>
</head>
<body>
<h1>This is staffHome</h1>
<a href="/createFlight">createFlight</a ><br>

<a href="/changeFlightStatus">changeFlightStatus</a ><br>

<a href="/addAirplane">addAirplane</a ><br>

<a href="/addAirport">addAirport</a ><br>
<a href="/viewReports">view reports</a ><br>

<a href="/viewFlights">view flights</a ><br>
<a href="/viewTopDes">view top destination</a ><br>
<a href="/viewRevenue">view revenue</a ><br>
<a href="/viewFlightRatings">view flight ratings</a ><br>
<a href="/viewFrequentCustomer">view frequent customer</a ><br>

<a href="/logout">Logout</a>

</body>


</html>
